@font-face {
    font-family: 'VT323';
    src: url(../../fonts/pixelsfont/VT323-Regular.ttf);
}

body {
    background-color: rgb(14, 11, 22) !important;
}

h1 {
    font-family: $pixelFont;
}

h2 {
    font-family: $pixelFont;
}

h3 {
    font-family: $pixelFont !important;
}

h4 {
    font-family: $pixelFont !important;
}

h5 {
    font-family: $pixelFont !important;
}
.app_container {
    font-family: $pixelFont !important;
    font-size: $font-size !important;
    background-color: rgb(14, 11, 22);
    box-sizing: border-box;
}


p {
    font-family: $pixelFont;
}

