.frontpage_videobackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}

.frontpage_tabcontainer {
    background-color: white;
    padding: 20px 20px;
}

.fontpage_tabs {
    width: 60%; 
}

.nav-item {
    background-color: $background !important; 
}

.loginform_email {
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 8px 0 8px 0;
    border-radius: 5px;
    transition: 0.3s ease-in;
    background-color: $inputcolor;
    border: none;
    box-shadow: 2px 2px 3px rgba(185, 184, 184, 0.5),
            inset 3px 3px 5px rgba(138, 138, 138, 0.5);
}

.loginform_email:focus {
    background-color: $inputcolor-tint;
    border: 1px solid $inputcolor-tint;
}

::placeholder {
    padding: 0 0 0 15px;
    color: black;
    text-transform: uppercase;
}

::-ms-input-placeholder { 
    padding: 0 0 0 15px;
  }


.loginform_password {
    @extend .loginform_email
}

.loginform_btncontainer {
    text-align: center;
}

.loginform_btn {
    background-color: $btn-color;
    border: none;
    padding: 10px 80px 10px 80px;
    border-radius: 5px;
    margin: 20px 0 0 0;
}

.loginform_label {
    display: block;
    text-transform: uppercase;
    text-align: center;
}

/***BOOTSTRAP RESETS*****/

/***BOOTSTRAP RESETS - Frontpage - tabs*****/

.container {
    width: 40% !important;
}

.frontpage_containercenter {
    margin: 150px;
}

.nav-tabs {
    border-bottom: 0!important;
}

.nav {
    justify-content: space-between;
    padding-left: 0px;
    margin: 0 0 0 120px;
}

.nav-item {
    color: yellow !important;
}
/***BOOTSTRAP RESETS - Frontpage - tabs*****/

.loginform__container {
    width: 70% !important;
}



.nav-link .active {
    background-color: #1f0275;
}


/***BOOTSTRAP RESETS - Frontpage - loginform*****/



/***BOOTSTRAP RESETS - Frontpage - loginform*****/


/***BOOTSTRAP RESETS*****/

.navigation_logo {
    width: 250px;
}

.navigation_cartcontainer {
    display: flex;
    justify-content:space-between;
}

.navigation_cart{
    width: 35px;
    height: 35px;
    margin: 10px 20px 20px 0;
    display: inline-block;
}

.navgation_container {
    background-color: #1f0275;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navigation_logout {
    background-color: $btn-color;
    display: inline-block;
    margin: 15px 0 15px 0;
} 

.navigation_cartimg {
    display: flex;
    margin: 0 15px 0 15px;
}

.navigation_numberitems {
    color: white;
}

.frontpage_loginbtn {
    color: #1f0275;
}



//**Tablet****//

@media screen and (max-width: 1200px) {
    .container {
        width: 80% !important;
    }

    .nav {
        margin: 0 0 0 75px;
    }
}

//**Tablet****//



@media screen and (max-width: 640px) {
    .container {
        width: 100% !important;
    }

    .frontpage_containercenter {
        margin: 80px 30px 30px 30px;
    }

    .nav {
        margin: 0 0 0 60px;
    }

    .navigation_logo {
        width: 150px;
        height: 40px;
        margin: 0 0 0 10px;
    }
}