.fetchgames_cardcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 20px 0 40px 0;
}

.fetchgames_cardcontainer {
    position: relative;
}

.fetchgame_loadingimg {
    position: absolute;
    top: 400px;
    left: 700px;
}

.card {
    margin: 20px;
}

.fetchgames_container {
    width: 100%;
}