
.app_container {
    background-color: $background;
}
/***BOOTSTRAP RESETS*****/
.card-img-top {
    width: 100%;
    height: 19vw;
    object-fit: cover;
}

/***BOOTSTRAP RESETS*****/


/****PAGINATOR*****/

.fetchgame_paginatecontainer {
    margin: 30px;
    display: flex;
    justify-content: center;
}


/****PAGINATOR*****/
