
/****PAGINATOR*****/

.fetchgame_paginatecontainer {
    margin: 30px;
    display: flex;
    justify-content: center;
}


/****PAGINATOR*****/

.fetchgame_container {
    margin: 40px 60px;
    background-color: white;
}



.app_container_background {
    background-color: rgb(14, 11, 22);
}


.filter_btncontainer {
    text-align: center;
}

.filter_btns {
    margin: 0 20px 0 20px;
}

.games_title {
    font-size: $font-size;
    text-align: center;
    text-transform: uppercase;
}

.fetchgame_btncontainer {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 0;
}


.fetchgames_cardcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 20px 0 40px 0;
}

.fetchgames_titlecontainer {
    width: 250px;
}


.fetchgame_loadingimg {
    position: absolute;
    top: 400px;
    left: 700px;
}

.fetchgames_container {
    width: 100%;
}

.fetchgame_flexcontbtn {
    display: flex;
    justify-content: center;
}

.fetchgame_btndiv {
    margin: 0 20px 0 20px;
}

.fetchgame_btn {
    background-color: $btn-color;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin: 20px 0 0 0;
    box-shadow: 4px 2px 3px $logocolor,
}

.fetchgame_btn:hover {
    background-color: $inputcolor-tint;   
}

/***BUY NOW COMPONENT**/
.buynow_btn {
    margin: 0 0 0 7px;
    padding: 2px 10px 2px 10px;
    border: none;
    background-color: $btn-color;
    box-shadow: 4px 2px 3px $logocolor;
    text-transform: uppercase;
}

.buynow_btnbuy {
    margin: 0 0 0 7px;
    padding: 2px 22px 2px 22px;
    border: none;
    background-color: $btn-color;
    box-shadow: 4px 2px 3px $logocolor;
    text-transform: uppercase;
}
/***BUY NOW COMPONENT**/

/***SINGLEGAME COMPONENT**/
.singlegame_link {
    text-transform: uppercase;
    background-color: $btn-color;
    color: black;
    padding: 2px 4px 2px 4px;
    transition: 0.3s;
    box-shadow: 4px 2px 3px $logocolor;
}

.singlegame_link:hover {
    color: $background;
}

.singlegame_container {
    margin: 0 7px 0 0;
}

a:-webkit-any-link{
    text-decoration: none;
}

/***SINGLEGAME COMPONENT**/

@media screen and (max-width: 1024px) {

}