$background: #3300CC;
$logocolor: #CC00CC;
$inputcolor: #00CC99;
$inputcolor-tint: #eeee08;
$btn-color: #CCCC00;
$neutralcolor: white;

$heading1: 65px;
$heading2: 48px;
$heading3: 32px;

$paginator: 24px;
$font-size: 20px;

$pixelFont: 'VT323';


