.imgcontainer {
    width: 50%;
    height: auto;
    margin: 0 auto !important;
}

.singlegame_ratings {
    margin: 20px 85px 0 0;
    color: chartreuse;
    background-color: blueviolet;
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.singlegame_ratingcontainer {
    display: flex;
    justify-content: space-around;
    margin: 40px 40px 0 0;
}

.singlegame_emptycontainer {
    width: 50px;
}

.singlegame_btncontainer {
    display: flex;
    justify-content: end;
    margin: 50px 0 30px 0;
}

.singlegame_heading1 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 0 0;
    font-size: $heading1;
    color: $neutralcolor;
}

.singelgame_heading2 {
    text-transform: uppercase;
}

.singlegame_ratingnumber {
    font-size:$heading2;
    text-align: center;
}

.singlegame_background {
    background-color: blueviolet;
    padding: 15px 100px;
    border-radius: 5px;
    margin: 0 285px 0 0;
}

.singlegame_instock {
    font-size: $mediumfont;
    margin: 20px 0 0 0;
    text-align: center;
    color: chartreuse;
}

.singlegame_btn {
    background-color: $btn-color;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 4px 2px 3px $logocolor,
}

.carousel-item {
    margin: 30px 0 0 0;
}

.singlegame_summarycontainer {
    background-color: blueviolet;
    color: chartreuse;
    font-size: $paginator;
    padding: 20px;
    border-radius: 5px;
    width: 700px;
    margin: 0 0 0 110px;
}

.singlegame_sumdetailscontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.singlegame_gameheading {
    text-align: center;
    font-size: $heading2;
}

.singlegame_gamedetails {
    background-color:blueviolet;
    margin: 0 105px 0 0;
    font-size: $paginator;
    padding: 20px 40px;
    border-radius: 5px;
    color: chartreuse;
    height: 400px;
}


@media screen and (max-width: 1024px) {
    .imgcontainer {
        width: 100%;
        height: auto;
        margin: 0 auto !important;
    }

    iframe {
        width: 680px;
        height: 350;
    }

    .singlegame_gamedetails {
        order:-1;
        width: 700px;
        margin: 0 0 30px 0;
    }

    .singlegame_summarycontainer {
        margin: 0 0 30px 0;
    }

    .singlegame_ratings {
        order: -1;
    }

    .singlegame_details {
        font-size: $mediumfont;
    }

    .singlegame_ratingcontainer {
       margin: 0 0 0 40px;
    }


    .singlegame_btncontainer {
        font-size: $mediumfont;
        justify-content: center;
        margin: 50px 0 80px 0;
    }


}

@media screen and (max-width: 640px) {

    .singlegame_gamedetails {
        order:-1;
        width: 350px;
        margin: 0 0 40px 15px;
    }

    .singlegame_summarycontainer {
        margin: 0 0 0 12px;
        width: 350px;
        font-size: $font-size;
    }

    .singelgame_video {
        width: 330px;
    }

    .singlegame_details {
        font-size: $paginator;
    }

    .imgcontainer {
        width: 100%;
        height: auto;
    }
}