.imgcontainer {
    width: 50%;
    height: auto;
    margin: 0 auto !important;
}

.singlegame_ratings {
    display: inline-block;
    color: chartreuse;
    padding: 15px;
    background-color: blueviolet;
}

.singlegame_ratingcontainer {
    display: flex;
    justify-content: end;
    margin: 35px;
}

.singlegame_btncontainer {
    display: flex;
    justify-content: end;
    margin: 30px;
}

.singlegame_heading1 {
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 0 0;
    font-size: $heading1;
    color: $neutralcolor;
}

.singelgame_heading2 {
    text-transform: uppercase;
}

.singlegame_ratingnumber {
    font-size:$heading2;
    text-align: center;
}

.singlegame_background {
    background-color: blueviolet;
    padding: 20px;
}

.singlegame_btn {
    background-color: chartreuse;
}

.carousel-item {
    margin: 30px 0 0 0;
}

.singlegame_summarycontainer {
    background-color: blueviolet;
    color: chartreuse;
    font-size: $paginator;
    padding: 20px;
    border-radius: 5px;
    width: 900px;
    margin: 0 0 0 110px;
}

.singlegame_sumdetailscontainer {
    display: flex;
    justify-content: space-between;
}

.singlegame_gameheading {
    text-align: center;
    font-size: $heading2;
}

.singlegame_gamedetails {
    background-color:blueviolet;
    margin: 0 110px 0 0;
    font-size: $paginator;
    padding: 10px 20px;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    color: chartreuse;
}

